*{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

*::selection{
  background-color: white;
  color: #0c1729;
  font-size: bolder;
}

header{
  margin: 0;
  width: 100vw;
  height: 55px;
  border: solid 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1d2b4e;
  color:rgb(255, 255, 255);
}

ul{
  /* color: #1d2b4e; */
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

li{
  cursor: pointer;
  /* font-weight: bold; */
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #f1f1f1;
}

li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f1f1f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
