<header class="navbar">
  <h1><a href="http://localhost:4200/principal">PI2</a></h1>

  <ul>
    <li class="navlink"><a href="http://localhost:4200/agendamento">Agendar</a></li>
    <li class="navlink"><a href="https://www.ufrpe.br">UFRPE</a></li>
    <li class="navlink"><a href="https://github.com/Garotes-de-Programa-UABJ/Teste-de-Linguagens">Projeto</a></li>
    <li class="navlink" id="sobre" href="#" (click)="showWarning()">Sobre</li>
    <li class="navlink"><a href="/login">Sair</a></li>
  </ul>
</header>
