@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  transition: all .2s;
  accent-color: #334981;
  caret-color: #1d2b4e;
  scroll-behavior: smooth;
}

*::selection{
  background-color: #1d2b4e;
  color: white;
}

body{
  background-color: rgb(32, 32, 32);
  /* font-family: sans-serif; */
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
}
