
body {
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #103982;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .1em;
  transition: 0.25s;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: .5rem;
}

h1::selection,
h5::selection {
  color: black;
  background-color: whitesmoke;
}

h5,
a {
  font-weight: 500;
  font-size: 1em;
  color: white;
  margin-bottom: .5em;
  margin-top: 5px;
}

h5,
label,
a {
  align-items: flex-start;
}

input {
  background: none;
  text-align: center;
  border: 2px solid whitesmoke;
  padding: 14px 14px;
  width: 200px;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  outline: none;
}

input:focus {
  width: 280px;
  border-color: #00ff88;
  transition: 0.25s;
}

input::selection {
  color: black;
  background-color: #00ff88;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}

.btn,
.botao {
  border: 0;
  background: none;
  margin: 20px 10px;
  text-align: center;
  border: 2px solid whitesmoke;
  padding: 14px 30px;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  outline: none;
  display: flex;
}

.btn:hover {
  border-color: #00ff88;
  background-color: #00ff88;
  cursor: pointer;
}

.botao:hover {
  border-color: #00ff88;
  background-color: #00ff88;
  cursor: pointer;
}

label {
  padding-top: 2px;
  color: #00ff88;
  font-size: 12px;
  display: none;
}

.icon-error {
  margin: 0;
  font-size: 17px;
}

header {
  background-color: #103982;
  color: #fff;
  padding: 20px;
}
.bot {
  background-color: #103982;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.bot:hover {
  background-color: #103982;
}
